<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.plugins.hiddeninappbrowser" version="1.5.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-outsystems-inappbrowser</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    
    <js-module name="HiddenInAppBrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.HiddenInAppBrowser" />
    </js-module>
    <platform name="android">

        <hook type="before_plugin_install" src="hooks/outsystems/handle_cleartextTrafficPermitted.js" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HiddenInAppBrowser">
                <param name="android-package" value="com.outsystems.plugins.inappbrowser.osinappbrowser.HiddenInAppBrowser" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/HiddenInAppBrowser.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />

        
        <!-- Include original InAppBrowser files for compatibility -->
        <source-file src="../cordova-plugin-inappbrowser-master/src/android/outsystems/InAppBrowser.java" target-dir="src/org/apache/cordova/inappbrowser/outsystems" />
        <source-file src="../cordova-plugin-inappbrowser-master/src/android/outsystems/InAppBrowserDialog.java" target-dir="src/org/apache/cordova/inappbrowser/outsystems" />
        <source-file src="../cordova-plugin-inappbrowser-master/src/android/outsystems/InAppChromeClient.java" target-dir="src/org/apache/cordova/inappbrowser/outsystems" />
        
        <!-- Include original InAppBrowser resources -->
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png" />
        <resource-file src="../cordova-plugin-inappbrowser-master/src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HiddenInAppBrowser">
                <param name="ios-package" value="HiddenInAppBrowser" />
            </feature>
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <source-file src="src/ios/OSInAppBrowser.swift" />
        <source-file src="src/ios/OSInAppBrowserError.swift" />
        <source-file src="src/ios/OSInAppBrowserInputArgumentsModel.swift" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="OSInAppBrowserLib" spec="2.1.0" />
            </pods>
        </podspec> 
    </platform>
</plugin>
