<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.plugins.hiddeninappbrowser" version="1.5.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-outsystems-inappbrowser</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    
    <!-- Dependency on the original Apache InAppBrowser plugin -->
    <dependency id="cordova-plugin-inappbrowser" />
    
    <js-module name="HiddenInAppBrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.HiddenInAppBrowser" />
        <clobbers target="HiddenInAppBrowser" />
    </js-module>
    <platform name="android">

        <hook type="before_plugin_install" src="hooks/outsystems/handle_cleartextTrafficPermitted.js" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HiddenInAppBrowser">
                <param name="android-package" value="com.outsystems.plugins.inappbrowser.osinappbrowser.HiddenInAppBrowser" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/HiddenInAppBrowser.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />

        

    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HiddenInAppBrowser">
                <param name="ios-package" value="HiddenInAppBrowser" />
            </feature>
        </config-file>

        <source-file src="src/ios/HiddenInAppBrowser.swift" />
        <source-file src="src/ios/HiddenInAppBrowserError.swift" />
        <source-file src="src/ios/HiddenInAppBrowserInputArgumentsModel.swift" />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="OSInAppBrowserLib" spec="2.1.0" />
            </pods>
        </podspec> 
        
        <!-- iOS build settings for OutSystems MABS compatibility -->
        <config-file parent="/*" target="project.pbxproj">
            <key>SWIFT_VERSION</key>
            <string>5.0</string>
        </config-file>
        
        <config-file parent="/*" target="project.pbxproj">
            <key>CLANG_ENABLE_MODULES</key>
            <string>YES</string>
        </config-file>
        
        <config-file parent="/*" target="project.pbxproj">
            <key>DEFINES_MODULE</key>
            <string>YES</string>
        </config-file>
        
        <config-file parent="/*" target="project.pbxproj">
            <key>SWIFT_OPTIMIZATION_LEVEL</key>
            <string>-Onone</string>
        </config-file>
        
        <config-file parent="/*" target="project.pbxproj">
            <key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
            <string>DEBUG</string>
        </config-file>
    </platform>
</plugin>
