<?xml version='1.0' encoding='utf-8'?>
<plugin id="multibrowser" version="1.5.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <name>multibrowserplugin</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    
    <js-module name="multibrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.multibrowser" />
        <clobbers target="multibrowser" />
    </js-module>
    
    <platform name="android">
        <dependency id="cordova-plugin-inappbrowser" />
        
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="multibrowser">
                <param name="android-package" value="com.outsystems.plugins.multibrowser.HiddenInAppBrowser" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        
        <source-file src="src/android/HiddenInAppBrowser.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/multibrowser" />
    </platform>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="multibrowser">
                <param name="ios-package" value="HiddenInAppBrowser" />
            </feature>
            <preference name="SwiftVersion" value="5" />
            <preference name="deployment-target" value="16.0" />
        </config-file>

        <header-file src="src/ios/HiddenInAppBrowser.h" />
        <source-file src="src/ios/HiddenInAppBrowser.swift" />
        
        <!-- Build optimizations for faster compilation -->
        <config-file parent="/*" target="config.xml">
            <preference name="WKWebViewOnly" value="true" />
            <preference name="AllowInlineMediaPlayback" value="true" />
            <preference name="DisallowOverscroll" value="true" />
            <preference name="SuppressesIncrementalRendering" value="false" />
        </config-file>
        
        <!-- Xcode build optimizations -->
        <config-file parent="/*" target="project.pbxproj">
            <preference name="SWIFT_OPTIMIZATION_LEVEL" value="-O" />
            <preference name="SWIFT_COMPILATION_MODE" value="wholemodule" />
            <preference name="ENABLE_BITCODE" value="NO" />
            <preference name="ENABLE_TESTABILITY" value="NO" />
        </config-file>
    </platform>
</plugin>
